.container
  .row
    = render 'shared/forced_rate_list', forced_rates: Rate.forced
  .row
    = simple_form_for @forced_rate_form, url: admin_path, html: { class: 'form-horizontal' } do |f|
      = f.input :dollar_rate
      = f.input :date_to, as: :datetime_picker
      = f.button :submit