.container
  .jumbotron.col-lg-6.col-lg-offset-3.vertical-center.text-center.rate
    = simple_form_for @forced_rate_form, url: admin_path, html: { class: 'form-horizontal' } do |f|
      = f.input :dollar_rate
      -# Два поля для того, чтобы время передавалось вместе с таймзоной;
      -# значение подменяется на полное в скрытом поле и отправляется
      = f.input :date_to, as: :hidden, input_html: { id: 'datetime_virtus_real', value: '' }
      = f.input :date_to, as: :datetime_picker, input_html: { id: 'datetime_virtus_visible' }
      = f.button :submit
